#include <windows.h>
#include "resource.h"

#pragma code_page(65001)

#define VER_FILE_VERSION             4,0,0,0
#define VER_FILE_VERSION_STR         "4.0.0.0"
#define VER_PRODUCT_VERSION          4,0,0,0
#define VER_PRODUCT_VERSION_STR      "4.0.0.0"

IDI_REVERSI ICON "src\\reversi.ico"
IDR_VISUAL_STYLES_MANIFEST RT_MANIFEST "src\\visualstyles.manifest"

IDR_MAINACCEL ACCELERATORS
BEGIN
    VK_BACK, IDM_HINT, VIRTKEY
    VK_F1, IDM_HELP_CONTENTS, VIRTKEY
    VK_F2, IDM_NEW, VIRTKEY
END

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDR_MAINMENU MENU
BEGIN
    POPUP "&Game"
    BEGIN
        MENUITEM "&New\tF2", IDM_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Pass", IDM_PASS
        MENUITEM "&Hint\tBackspace", IDM_HINT
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_EXIT
    END
    POPUP "&Options"
    BEGIN
        MENUITEM "&Beginner", IDM_BEGINNER
        MENUITEM "I&ntermediate", IDM_INTERMEDIATE
        MENUITEM "&Expert", IDM_EXPERT
        MENUITEM "&Master", IDM_MASTER
        MENUITEM SEPARATOR
        MENUITEM "&Disabled Animation", IDM_ANIM_NONE
        MENUITEM "&Slow Animation", IDM_ANIM_SLOW
        MENUITEM "&Fast Animation", IDM_ANIM_FAST
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&Contents\tF1", IDM_HELP_CONTENTS
        MENUITEM "&Search for Help On...", IDM_HELP_SEARCH
        MENUITEM "&How to Use Help", IDM_HELP_USING
        MENUITEM SEPARATOR
        MENUITEM "&About Reversi...", IDM_ABOUT
    END
END

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STRINGTABLE
BEGIN
    IDS_APP_TITLE "Reversi"
    IDS_PRACTICE_TITLE "Reversi Practice Game"
    IDS_PASS_TEXT "Pass"
    IDS_MUST_PASS "You have no open square to move to and must pass."
    IDS_DRAW "Draw"
    IDS_LOST_FMT "You lost by %d"
    IDS_WON_FMT "You won by %d"
    IDS_ABOUT_MENU "About..."
    IDS_INVALID_MOVE "You can move only where the mouse pointer changes to a cross."
    IDS_CANNOT_PASS "You cannot pass. Move the mouse pointer to a square where it changes to a cross."
    IDS_HELP_FILE "reversi.hlp"
    IDS_INI_FILE "reversi.ini"
    IDS_PROFILE_APP "Reversi"
    IDS_ANIMATION_KEY "Animation"
    IDS_SKILL_KEY "Skill"
    IDS_HELP_CONTENTS_TEXT "Here is a brief description of Reversi:\n\nReversi rules: trap the computer's circles in a horizontal, vertical, or diagonal line to turn them into your color.\n\nYour circles are red. The computer's circles are blue. You can move only where the cursor changes to a cross."
    IDS_HELP_SEARCH_TEXT "The Reversi help file could not be found. Make sure the help file is installed, and then try again."
    IDS_HELP_USING_TEXT "Help for the Help viewer could not be opened. Make sure Windows Help is installed, and then try again."
    IDS_ABOUT_TEXT "Microsoft Windows Reversi Application"
    IDS_REGISTER_FAIL "Unable to register window class."
    IDS_CREATE_FAIL "Unable to create window."
    IDS_FILE_DESCRIPTION "Microsoft Windows Reversi Application"
    IDS_ORIGINAL_FILENAME "REVERSI.EXE"
    IDS_HELP_TITLE "Reversi Help"
    IDS_HELP_CHM_FILE "reversi.chm"
    IDS_WINDOWS_HELP_FILE "windows.hlp"
    IDS_WINDOWS_CHM_FILE "windows.chm"
    IDS_HELP_VIEWER_CHM_FILE "NTHelp.chm"
    IDS_REGISTRY_KEY "Software\\Microsoft\\reversi"
    IDS_WINDOW_X_KEY "WindowX"
    IDS_WINDOW_Y_KEY "WindowY"
    IDS_WINDOW_WIDTH_KEY "WindowWidth"
    IDS_WINDOW_HEIGHT_KEY "WindowHeight"
    IDS_WINDOW_DPI_KEY "WindowDpi"
    IDS_COMPUTER_PASS "The computer has no open square to move to and must pass."
    IDS_COMPUTER_PASS_TEXT "The computer passes."
    IDS_BACKGROUND_KEY "shift xyzzy"
END

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
IDR_MAINMENU MENU
BEGIN
    POPUP "游戏(&G)"
    BEGIN
        MENUITEM "开局(&N)\tF2", IDM_NEW
        MENUITEM SEPARATOR
        MENUITEM "让棋(&P)", IDM_PASS
        MENUITEM "提示(&H)\tBackspace", IDM_HINT
        MENUITEM SEPARATOR
        MENUITEM "退出(&X)", IDM_EXIT
    END
    POPUP "选项(&O)"
    BEGIN
        MENUITEM "初级(&B)", IDM_BEGINNER
        MENUITEM "中级(&N)", IDM_INTERMEDIATE
        MENUITEM "高级(&E)", IDM_EXPERT
        MENUITEM "大师(&M)", IDM_MASTER
        MENUITEM SEPARATOR
        MENUITEM "无动画(&D)", IDM_ANIM_NONE
        MENUITEM "慢动画(&S)", IDM_ANIM_SLOW
        MENUITEM "快动画(&F)", IDM_ANIM_FAST
    END
    POPUP "帮助(&H)"
    BEGIN
        MENUITEM "目录(&C)\tF1", IDM_HELP_CONTENTS
        MENUITEM "搜索帮助内容(&S)...", IDM_HELP_SEARCH
        MENUITEM "如何使用帮助(&H)", IDM_HELP_USING
        MENUITEM SEPARATOR
        MENUITEM "关于翻转棋(&A)...", IDM_ABOUT
    END
END

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
STRINGTABLE
BEGIN
    IDS_APP_TITLE "翻转棋"
    IDS_PRACTICE_TITLE "翻转棋练习赛"
    IDS_PASS_TEXT "让棋"
    IDS_MUST_PASS "您没有空位下棋，必须让棋"
    IDS_DRAW "平局"
    IDS_LOST_FMT "您以 %d 子落败"
    IDS_WON_FMT "您以 %d 子获胜"
    IDS_ABOUT_MENU "关于..."
    IDS_INVALID_MOVE "您只能在鼠标光标显示成十字准心的位置下棋。"
    IDS_CANNOT_PASS "您不能让棋。请将鼠标光标移动到显示十字准心的位置。"
    IDS_HELP_FILE "reversi.hlp"
    IDS_INI_FILE "reversi.ini"
    IDS_PROFILE_APP "Reversi"
    IDS_ANIMATION_KEY "Animation"
    IDS_SKILL_KEY "Skill"
    IDS_HELP_CONTENTS_TEXT "以下是“翻转棋程序”的简短说明：\n\n翻转棋规则：在一条横、竖或斜线上夹住电脑棋子，就可以把它们翻成你的颜色。\n\n你的棋子是红色，电脑棋子是蓝色。只有鼠标光标变成十字准心的位置才能落子。"
    IDS_HELP_SEARCH_TEXT "无法找到翻转棋帮助文件。请确认帮助文件已经安装，然后重试。"
    IDS_HELP_USING_TEXT "无法打开“如何使用帮助”的说明。请确认 Windows 帮助已经安装，然后重试。"
    IDS_ABOUT_TEXT "Microsoft Windows Reversi Application"
    IDS_REGISTER_FAIL "无法注册窗口类。"
    IDS_CREATE_FAIL "无法创建窗口。"
    IDS_FILE_DESCRIPTION "Microsoft Windows Reversi Application"
    IDS_ORIGINAL_FILENAME "REVERSI.EXE"
    IDS_HELP_TITLE "翻转棋帮助"
    IDS_HELP_CHM_FILE "reversi.chm"
    IDS_WINDOWS_HELP_FILE "windows.hlp"
    IDS_WINDOWS_CHM_FILE "windows.chm"
    IDS_HELP_VIEWER_CHM_FILE "NTHelp.chm"
    IDS_REGISTRY_KEY "Software\\Microsoft\\reversi"
    IDS_WINDOW_X_KEY "WindowX"
    IDS_WINDOW_Y_KEY "WindowY"
    IDS_WINDOW_WIDTH_KEY "WindowWidth"
    IDS_WINDOW_HEIGHT_KEY "WindowHeight"
    IDS_WINDOW_DPI_KEY "WindowDpi"
    IDS_COMPUTER_PASS "计算机没有空位下棋，必须让棋"
    IDS_COMPUTER_PASS_TEXT "计算机让棋"
    IDS_BACKGROUND_KEY "shift xyzzy"
END

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL
IDR_MAINMENU MENU
BEGIN
    POPUP "遊戲(&G)"
    BEGIN
        MENUITEM "開局(&N)\tF2", IDM_NEW
        MENUITEM SEPARATOR
        MENUITEM "讓棋(&P)", IDM_PASS
        MENUITEM "提示(&H)\tBackspace", IDM_HINT
        MENUITEM SEPARATOR
        MENUITEM "結束(&X)", IDM_EXIT
    END
    POPUP "選項(&O)"
    BEGIN
        MENUITEM "初級(&B)", IDM_BEGINNER
        MENUITEM "中級(&N)", IDM_INTERMEDIATE
        MENUITEM "高級(&E)", IDM_EXPERT
        MENUITEM "大師(&M)", IDM_MASTER
        MENUITEM SEPARATOR
        MENUITEM "無動畫(&D)", IDM_ANIM_NONE
        MENUITEM "慢動畫(&S)", IDM_ANIM_SLOW
        MENUITEM "快動畫(&F)", IDM_ANIM_FAST
    END
    POPUP "說明(&H)"
    BEGIN
        MENUITEM "目錄(&C)\tF1", IDM_HELP_CONTENTS
        MENUITEM "搜尋說明內容(&S)...", IDM_HELP_SEARCH
        MENUITEM "如何使用說明(&H)", IDM_HELP_USING
        MENUITEM SEPARATOR
        MENUITEM "關於翻轉棋(&A)...", IDM_ABOUT
    END
END

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL
STRINGTABLE
BEGIN
    IDS_APP_TITLE "翻轉棋"
    IDS_PRACTICE_TITLE "翻轉棋練習賽"
    IDS_PASS_TEXT "讓棋"
    IDS_MUST_PASS "您沒有空位下棋，必須讓棋"
    IDS_DRAW "平手"
    IDS_LOST_FMT "您以 %d 子落敗"
    IDS_WON_FMT "您以 %d 子獲勝"
    IDS_ABOUT_MENU "關於..."
    IDS_INVALID_MOVE "您只能在滑鼠游標顯示成十字準心的位置下棋。"
    IDS_CANNOT_PASS "您不能讓棋。請將滑鼠游標移到顯示十字準心的位置。"
    IDS_HELP_FILE "reversi.hlp"
    IDS_INI_FILE "reversi.ini"
    IDS_PROFILE_APP "Reversi"
    IDS_ANIMATION_KEY "Animation"
    IDS_SKILL_KEY "Skill"
    IDS_HELP_CONTENTS_TEXT "以下是「翻轉棋程式」的簡短說明：\n\n翻轉棋規則：在一條橫、直或斜線上夾住電腦棋子，就可以把它們翻成你的顏色。\n\n你的棋子是紅色，電腦棋子是藍色。只有滑鼠游標變成十字準心的位置才能落子。"
    IDS_HELP_SEARCH_TEXT "找不到翻轉棋說明檔。請確認說明檔已安裝，然後再試一次。"
    IDS_HELP_USING_TEXT "無法開啟「如何使用說明」的說明。請確認 Windows 說明已安裝，然後再試一次。"
    IDS_ABOUT_TEXT "Microsoft Windows Reversi Application"
    IDS_REGISTER_FAIL "無法註冊視窗類別。"
    IDS_CREATE_FAIL "無法建立視窗。"
    IDS_FILE_DESCRIPTION "Microsoft Windows Reversi Application"
    IDS_ORIGINAL_FILENAME "REVERSI.EXE"
    IDS_HELP_TITLE "翻轉棋說明"
    IDS_HELP_CHM_FILE "reversi.chm"
    IDS_WINDOWS_HELP_FILE "windows.hlp"
    IDS_WINDOWS_CHM_FILE "windows.chm"
    IDS_HELP_VIEWER_CHM_FILE "NTHelp.chm"
    IDS_REGISTRY_KEY "Software\\Microsoft\\reversi"
    IDS_WINDOW_X_KEY "WindowX"
    IDS_WINDOW_Y_KEY "WindowY"
    IDS_WINDOW_WIDTH_KEY "WindowWidth"
    IDS_WINDOW_HEIGHT_KEY "WindowHeight"
    IDS_WINDOW_DPI_KEY "WindowDpi"
    IDS_COMPUTER_PASS "電腦沒有空位下棋，必須讓棋"
    IDS_COMPUTER_PASS_TEXT "電腦讓棋"
    IDS_BACKGROUND_KEY "shift xyzzy"
END

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
1 VERSIONINFO
 FILEVERSION VER_FILE_VERSION
 PRODUCTVERSION VER_PRODUCT_VERSION
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Microsoft Corporation"
            VALUE "FileDescription", "Microsoft Windows Reversi Application"
            VALUE "FileVersion", VER_FILE_VERSION_STR
            VALUE "InternalName", "Reversi"
            VALUE "LegalCopyright", "© Microsoft Corporation. All rights reserved."
            VALUE "OriginalFilename", "REVERSI.EXE"
            VALUE "ProductName", "Microsoft Windows"
            VALUE "ProductVersion", VER_PRODUCT_VERSION_STR
        END
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "Microsoft Corporation"
            VALUE "FileDescription", "Microsoft Windows Reversi Application"
            VALUE "FileVersion", VER_FILE_VERSION_STR
            VALUE "InternalName", "Reversi"
            VALUE "LegalCopyright", "(C) Microsoft Corporation. All rights reserved."
            VALUE "OriginalFilename", "REVERSI.EXE"
            VALUE "ProductName", "Microsoft Windows"
            VALUE "ProductVersion", VER_PRODUCT_VERSION_STR
        END
        BLOCK "040404b0"
        BEGIN
            VALUE "CompanyName", "Microsoft Corporation"
            VALUE "FileDescription", "Microsoft Windows Reversi Application"
            VALUE "FileVersion", VER_FILE_VERSION_STR
            VALUE "InternalName", "Reversi"
            VALUE "LegalCopyright", "(C) Microsoft Corporation. All rights reserved."
            VALUE "OriginalFilename", "REVERSI.EXE"
            VALUE "ProductName", "Microsoft Windows"
            VALUE "ProductVersion", VER_PRODUCT_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200, 0x0804, 1200, 0x0404, 1200
    END
END
